apiVersion: 1
datasources:
  - name: PostgreSQL
    type: postgres
    url: name-db.hash.eu-central-1.rds.amazonaws.com:5432
    uid: PCC52D03280B7034C  # Make sure to match it to the dashboard if any problem
    database: name_db
    user: name_user
    secureJsonData:
      password: "password"
    jsonData:
      sslmode: "require"
      maxOpenConns: 100
      maxIdleConns: 100
      connMaxLifetime: 14400
      postgresVersion: 1200
      timescaledb: false

